In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path = r'C:\Users\kanch\OneDrive\Naresh IT\Data science\data files\Visadataset.csv'

visa_df = pd.read_csv(path)
visa_df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [29]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

$prevailingwage$

In [5]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [6]:
len(visa_df['prevailing_wage'])

25480

In [7]:
visa_df['prevailing_wage'].count()

25480

In [8]:
visa_df['prevailing_wage'].mean()

74455.81459209183

$median$

In [9]:


np.median(visa_df['prevailing_wage'])

70308.20999999999

$standard$ $devation$

In [10]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

$max$

In [11]:
np.max(visa_df['prevailing_wage'])

319210.27

$min$

In [12]:
np.min(visa_df['prevailing_wage'])

2.1367

In [13]:
#################################################################################################
wage_count=round(visa_df['prevailing_wage'].count())
wage_mean=round(visa_df['prevailing_wage'].mean())
wage_median=round(np.median(visa_df['prevailing_wage']))
wage_std=round(np.std(visa_df['prevailing_wage']))
wage_max=round(np.max(visa_df['prevailing_wage']))
wage_min=round(np.min(visa_df['prevailing_wage']))
wage_25=np.percentile(visa_df['prevailing_wage'],25)
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_75=np.percentile(visa_df['prevailing_wage'],75)

######################################################################################
l = [wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std,wage_25,wage_50,wage_75]
cols= ['prevailing_wage']
index = ['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count        25480.0000
max         319210.0000
min              2.0000
mean         74456.0000
median       70308.0000
std          52815.0000
25%          34015.4800
50%          70308.2100
75%         107735.5125

$percentaile$-$quantaile$

- percentaile and quantile available in numpy

- np.percentile()
   - column name    
   - percentaile value between 0 to 100
- np.quantile()
   - column name
   - 0 to 1
- in quantile 0.25 means 25 in percentile

In [14]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

In [15]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996

In [16]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

** what is the mean of 25 precentile = 34015.47**
- 25 precentage of toatal data has wage less than 34015.47
- Find 25 precentage of tatal data = 25*25480/100 = 6370
- 6370 person wages has less than 34014

In [17]:
con = visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [18]:
# can you valid for 50p data
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_50

70308.20999999999

In [19]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [23]:
cols = visa_df.select_dtypes(exclude='object').columns
d={}
for i in cols:
    count=round(visa_df[i].count(),2)
    maxx=round(visa_df[i].max(),2)
    minm=round(visa_df[i].min(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
 
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)

    d[i]=[count,maxx,minm,mean,median,std,p_25,p_50,p_75]

index = ['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(d,index=index)

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
std            22877.93        42.37       52815.9400
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125

In [24]:
cols = visa_df.select_dtypes(exclude='object').columns
l =[]
for i in cols:
    count=round(visa_df[i].count(),2)
    maxx=round(np.max(visa_df[i]),2)
    minm=round(np.min(visa_df[i]),2)
    mean=round(visa_df[i].mean(),2)
    median=round(np.median(visa_df[i]),2)
    std=round(np.std(visa_df[i]),2)
 
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)

    l.append([count,maxx,minm,mean,median,std,p_25,p_50,p_75])
print(l)
index = ['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(zip(l[0],l[1],l[2]),columns=cols,index=index)

[[25480, 602069, -26, 5667.04, 2109.0, 22877.48, 1022.0, 2109.0, 3504.0], [25480, 2016, 1800, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0], [25480, 319210.27, 2.14, 74455.81, 70308.21, 52814.91, 34015.479999999996, 70308.20999999999, 107735.51250000001]]

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
std            22877.48        42.37       52814.9100
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125

In [25]:
unique = []
for i in visa_df['education_of_employee']:
    if i not in unique:
        unique.append(i)
unique

['High School', "Master's", "Bachelor's", 'Doctorate']

In [ ]:
unique=[]
for i in visa_df['continent']:
    if i not in unique:
        unique.append(i)
unique

['Asia', 'Africa', 'North America', 'Europe', 'South America', 'Oceania']

In [ ]:
visa_df.select_dtypes()