**importing necessarry libraryes**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Reading the data**

In [2]:
path = r'C:\Users\kanch\OneDrive\Naresh IT\Data science\data files\Visadataset.csv'
visa_df = pd.read_csv(path)
visa_df.head(10)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
6,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.3900,Year,Y,Certified
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied
8,EZYV09,Asia,Bachelor's,N,N,4810,2012,Midwest,74362.1900,Year,Y,Certified
9,EZYV10,Europe,Doctorate,Y,N,2251,1995,South,67514.7600,Year,Y,Certified

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [18]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [17]:
visa_df['continent'].value_counts(normalize=True)

continent
Asia             0.661735
Europe           0.146468
North America    0.129199
South America    0.033438
Africa           0.021625
Oceania          0.007535
Name: proportion, dtype: float64

In [19]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

$prevailingwage$

In [20]:
count =visa_df['prevailing_wage'].count()

25480

In [26]:
count=round(visa_df['prevailing_wage'].count(),3)
maxx =round(visa_df['prevailing_wage'].max(),3)
minn =round(visa_df['prevailing_wage'].min(),3)
mean =round(visa_df['prevailing_wage'].mean(),3)
median =round(visa_df['prevailing_wage'].median(),3)
std = round(visa_df['prevailing_wage'].std(),3)

w_25=np.percentile(visa_df['prevailing_wage'],25)
w_50=np.percentile(visa_df['prevailing_wage'],50)
w_75=np.percentile(visa_df['prevailing_wage'],75)


l = [count,maxx,minn,mean,median,std,w_25,w_50,w_75]
cols=['prevailing_wage']
index = ['count','max','min','mean','median','std','%25','%50','%75']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count        25480.0000
max         319210.2700
min              2.1370
mean         74455.8150
median       70308.2100
std          52815.9420
%25          34015.4800
%50          70308.2100
%75         107735.5125

In [40]:
cols=visa_df.select_dtypes(exclude='object').columns
l=[]
for i in cols:
    count=round(visa_df[i].count(),3)
    maxx =round(visa_df[i].max(),3)
    minn =round(visa_df[i].min(),3)
    mean =round(visa_df[i].mean(),3)
    median =round(visa_df[i].median(),3)
    std = round(visa_df[i].std(),3)

    w_25=np.percentile(visa_df[i],25)
    w_50=np.percentile(visa_df[i],50)
    w_75=np.percentile(visa_df[i],75)


    l.append([count,maxx,minn,mean,median,std,w_25,w_50,w_75])

index = ['count','max','min','mean','median','std','%25','%50','%75']
pd.DataFrame(zip(l[0],l[1],l[2]),columns=cols,index=index)

        no_of_employees  yr_of_estab  prevailing_wage
count         25480.000    25480.000       25480.0000
max          602069.000     2016.000      319210.2700
min             -26.000     1800.000           2.1370
mean           5667.043     1979.410       74455.8150
median         2109.000     1997.000       70308.2100
std           22877.929       42.367       52815.9420
%25            1022.000     1976.000       34015.4800
%50            2109.000     1997.000       70308.2100
%75            3504.000     2005.000      107735.5125

In [45]:
l[0],l[1]

([25480, 602069, -26, 5667.043, 2109.0, 22877.929, 1022.0, 2109.0, 3504.0],
 [25480, 2016, 1800, 1979.41, 1997.0, 42.367, 1976.0, 1997.0, 2005.0])

In [46]:
l[2]

[25480,
 319210.27,
 2.137,
 74455.815,
 70308.21,
 52815.942,
 34015.479999999996,
 70308.20999999999,
 107735.51250000001]

In [57]:
c_names=['no_fo_employees','yr_of_estab','prevailing_wage']
l1=l[0]
l2=l[1]
l3=l[2]
index = ['count','max','min','mean','median','std','%25','%50','%75']
d=pd.DataFrame(zip(l1,l2,l3),index=index,columns=c_names)
d

        no_fo_employees  yr_of_estab  prevailing_wage
count         25480.000    25480.000       25480.0000
max          602069.000     2016.000      319210.2700
min             -26.000     1800.000           2.1370
mean           5667.043     1979.410       74455.8150
median         2109.000     1997.000       70308.2100
std           22877.929       42.367       52815.9420
%25            1022.000     1976.000       34015.4800
%50            2109.000     1997.000       70308.2100
%75            3504.000     2005.000      107735.5125

In [61]:
df = pd.DataFrame(zip(l1,l2,l3))
df

            0          1            2
0   25480.000  25480.000   25480.0000
1  602069.000   2016.000  319210.2700
2     -26.000   1800.000       2.1370
3    5667.043   1979.410   74455.8150
4    2109.000   1997.000   70308.2100
5   22877.929     42.367   52815.9420
6    1022.000   1976.000   34015.4800
7    2109.000   1997.000   70308.2100
8    3504.000   2005.000  107735.5125

In [64]:
print(l)

[[25480, 602069, -26, 5667.043, 2109.0, 22877.929, 1022.0, 2109.0, 3504.0], [25480, 2016, 1800, 1979.41, 1997.0, 42.367, 1976.0, 1997.0, 2005.0], [25480, 319210.27, 2.137, 74455.815, 70308.21, 52815.942, 34015.479999999996, 70308.20999999999, 107735.51250000001]]

In [68]:
d=pd.DataFrame(l,)
d

,0,1,2,3,4,5,6,7,8
0,25480,602069.00,-26.000,5667.043,2109.00,22877.929,1022.00,2109.00,3504.0000
1,25480,2016.00,1800.000,1979.410,1997.00,42.367,1976.00,1997.00,2005.0000
2,25480,319210.27,2.137,74455.815,70308.21,52815.942,34015.48,70308.21,107735.5125

In [ ]:
pd.DataFrame(L)